.sotto{
   background-color: #ffffff;
   display: flex;
   flex-direction: column;
   position: relative;
   bottom: 5%;
   left: 0%;
}
.cu{

   width: 25px;
   height:25px;
   
}
.bb{
   width: 670px;
   height: 200px;
   background-color: #06b0da;
   color: #ffffff;
   cursor: pointer; 
}
.b{
    width: 650px;
    height: 300px;
    background-color: #06b0da;
    color: #ffffff;
    cursor: pointer;
    border: 3px solid #000000;  
 }
 .c{
    width: 20%;
    height:20%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0%;
    left: 0%;
    text-align: initial;
 }


.text{
   display: flex;
   flex-direction: column;
   position: absolute;
top: 150px;
right:0px;
background-color: beige;
}

.cestino2{
 
   display: flex;
   flex-direction: column;
   position: relative; 
   left: 150px;
   bottom: 10px;  
   z-index: 7;  
}
.cestino1{
 
   display: flex;
   flex-direction: column;
   position: relative; 
   left: 150px;
 bottom: 60px;
   z-index: 7;    
}

.text1{
   display: flex;
   flex-direction: column;
   position: relative;  
top: 55px;
left: 150px; 
width: 100px;
z-index: 1;
}
.text2{
   display: flex;
   flex-direction: column;
   position: relative;  
top: 30px;
left: 10px;   
width: 100px;
z-index: 1;
}
.cuore{
 
   display: flex;
    flex-direction: column;
    position: absolute;
left:60px;
bottom: 0px;
    background-color:#ffffff ;
    border:#06b0da  ;
    z-index: 3000;
}
.zero{
 
   display: flex;
    flex-direction: column;
    position:relative;
left:130px;
bottom: 0px;
    background-color:#ffffff ;
    border:#06b0da  ;
    z-index: 3000;
}
.imm{
  
   display:flex;
   flex-direction: column;
   position: relative;

   left:30%;
   width: 40%;
   height:60%;
   z-index: 1;
}
.imm2{
  
   display:flex;
   flex-direction: column;
   position: relative;
top: 8%;
   left:30%;
   width: 40%;
   height:60%;
   z-index: 1;
}

.par{
   display: flex;
   flex-direction: column;
   position: relative;
   top:0% ;
   left: 0%;
   width: 100%;
   height:20%;
   z-index: 1;
   background-color: #06b0da ;
}
.parData{
   display: flex;
   flex-direction: column;
   position: relative;

   left: 70%;
}
.logo2{
   
   width: 20px;
   height: 20px;
   background-color:#06b0da ;
}
.accetto2{
   display: flex;
   flex-direction: column;
   position: relative;
   top: 20px;
   height:40px ;
  width:100%;
   background-color:#ffffff ;
   z-index: 4;
   color: black;
}




.contaCuori{
z-index: 5;
color: black;
display: flex;
   flex-direction: column;
   position: relative;
   bottom: 60%;
   left: 8%;
 }
 .contaCuori2{
   z-index: 5;
   color: black;
   display: flex;
      flex-direction: column;
      position: relative;
      bottom: 15%;
      left: 8%;
    }
.t{
   border: 3px solid #06b0da;
 height: 18%;
 width: 99%;
}
.u{
   border: 3px solid #06b0da;
   height: 9%;
   width: 99%;
}
.tendenza{

   background-color:#e9e9e9;
   border-radius: 15px;
   height:60%;
   position: absolute;
   top:10%;
   left:10%;
   border: 3px solid #06b0da;
}
