
.b{
    width: 600px;
    height: 200px;
    background-color: #06b0da;
    color: #ffffff;
    cursor: pointer;  
 }
 .c{
    width: 20%;
    height:20%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0%;
    left: 0%;
    text-align: initial;
 }
 .nomeUtente{

   display: flex;
    flex-direction: column;
    position: relative;
    top: 0%;
    left: 0%;
 }

.text{
   display: flex;
   flex-direction: column;
   position: absolute;
top: 150px;
right:0px;
background-color: beige;
}

.cestino{
 
   display: flex;
   flex-direction: column;
   position: relative; 

   left: 80px;   
    background-color:#06b0da ;
}

.text1{
   display: flex;
   flex-direction: column;
   position: relative;  
top: 55px;
left: 150px; 
width: 100px;
z-index: 1;
}
.text2{
   display: flex;
   flex-direction: column;
   position: relative;  
top: 30px;
left: 10px;   
width: 100px;
z-index: 1;
}
.cuore{
 
   display: flex;
    flex-direction: column;
    position: absolute;
left:110px;
bottom: 0px;
    background-color:#ffffff ;
    border:#06b0da  ;
    z-index: 3000;
}
.zero{
 
   display: flex;
    flex-direction: column;
    position:relative;
left:130px;
bottom: 0px;
    background-color:#ffffff ;
    border:#06b0da  ;
    z-index: 3000;
}
.imm{
   display: flex;
   flex-direction: column;
   position: absolute;
   left: 60%;
   width: 30%;
   height:30%;
   z-index: 1;
}
.logo2{
   
   width: 20px;
   height: 20px;
   background-color:#06b0da ;
}
.accetto2{
   display: flex;
   flex-direction: column;
   position: relative;
left: 90px;
}
.t{
   border: 3px solid #06b0da;
 height: 18%;
 width: 99%;
}
.u{
   border: 3px solid #06b0da;
   height: 9%;
   width: 99%;
}
.tendenza{

   background-color:#e9e9e9;
   border-radius: 15px;
   height:60%;
   position: absolute;
   top:10%;
   left:10%;
   border: 3px solid #06b0da;
}
