

.sinistra{
    display: flex;
    flex-direction: column;
    position: absolute;
   width: 20%;
   height:90%;
}
.botton1{
    background-color: #06b0da;
    transition: background-color .5s;
    border-radius: 25px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 200px;
    height:45px;
    align-self: center;
    border: none;
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0%;
    top: 10%;
}

.botton2{
    background-color: #06b0da;
    transition: background-color .5s;
    border-radius: 25px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 200px;
    height:45px;
    align-self: center;
    border: none;
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0%;
    top: 20%;
}

.botton3{
    background-color: #06b0da;
    transition: background-color .5s;
    border-radius: 25px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 200px;
    height:45px;
    align-self: center;
    border: none;
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0%;
    top: 30%;
}

.botton4{
    background-color: #06b0da;
    transition: background-color .5s;
    border-radius: 25px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 200px;
    height:45px;
    align-self: center;
    border: none;
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0%;
    top: 40%;
}

.botton5{
    background-color: #06b0da;
    transition: background-color .5s;
    border-radius: 25px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 200px;
    height:45px;
    align-self: center;
    border: none;
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0%;
    top: 100%;
}




.botton1:hover{
    background-color: #e9e9e9;
    color: #06b0da;
    border: 2px solid #06b0da;
}
.botton2:hover{
    background-color: #e9e9e9;
    color: #06b0da;
    border: 2px solid #06b0da;
}
.botton3:hover{
    background-color: #e9e9e9;
    color: #06b0da;
    border: 2px solid #06b0da;
}
.botton4:hover{
    background-color: #e9e9e9;
    color: #06b0da;
    border: 2px solid #06b0da;
}
.botton5:hover{
    background-color: #ffffff;
    color: #06b0da;
    border: 2px solid #06b0da;
}

.logo{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    left: 5% ;
   width: 10%;
   height:30%;
}
.centro{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 24% ;
   width: 45%;
   height:100%;
}
.ric{ display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    width: 100%;
    height:58%;
}
.text1{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2%;
   width: 100%;
   height:7%;
   font-family: monospace;
   font-size: 15px;
   font-weight: bolder;
   border: 3px solid #06b0da;
   
}
.twitteButton{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0%;
    top:75% ;
    z-index: 1;
   height:15%;
   width: 90px;
   background-color: #06b0da;
   transition: background-color .5s;
   border-radius: 15px;
   text-transform: uppercase;
   color: #000000;
   font-size: 10px;
   padding: 10px 50px;
   cursor: pointer;
   font-weight: bold;
   align-self: center;
   border: none;
   margin-top: 1rem;
  
}
.bodyTwitte{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
   width: 100%;
   height:58%;
   border: 3px solid #06b0da; 
   z-index: 1; 
}
.apriProfilo{
    height:30%;
    width:100% ;
    border: 3px solid #06b0da;
    display: flex;
    flex-direction: column;
    position: absolute;
    top:9%; 
}
.button7{
    background-color: #06b0da;
    transition: background-color .5s;
    border-radius: 15px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 100px;
    height:35px;
    align-self: center;
    border: none;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    position: absolute;
  top:55%;
    left: 67%;
}
.ricercaUtente{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:60%;
    left: 10%;
    height: 35px;
    width: 250px;
    
}

.text3{ 
    display: flex;
   flex-direction: column;
   position: absolute;
   top: 9%;
   font-family: monospace;
   font-size: 20px;
   
}
.destra{
    display: flex;
    flex-direction: column;
    position: absolute;
    left:70%;
   width: 30%;
   height:95%;
   
}
.tendenza{

    background-color:#e9e9e9;
    border-radius: 15px;
    height:60%;
    position: absolute;
    top:10%;
    left:10%;
    border: 3px solid #06b0da;
}
.ricercaUtente::-webkit-input-placeholder { color: #06b0da; font-style:italic; }
.ricercaUtente{
    border: 3px solid #06b0da; 
}
.t{
    border: 3px solid #06b0da;
  height: 18%;
  width: 99%;
}
.u{
    border: 3px solid #06b0da;
    height: 9%;
    width: 99%;
}